html.hide-scrollbar,
body.hide-scrollbar {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 520px) {
  body {
    background: #eaeaea;
    display: flex;
    justify-content: center;
  }

  #app {
    width: 430px;
    height: 100vh;
    flex: 0 0 auto;
    overflow: hidden;
    background: #f5f5f5;
  }
}

html.hide-scrollbar::-webkit-scrollbar,
body.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.page-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-scroll::-webkit-scrollbar {
  display: none;
}

.page-scroll * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-scroll *::-webkit-scrollbar {
  display: none;
}
