.login {
  padding: 20px;
  .title {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }
  .form-item {
    margin-bottom: 15px;
    input {
      border: 1px solid #ccc;
      padding: 5px;
      margin-top: 5px;
    }
  }
  .btn {
    margin-top: 20px;
    background-color: #007aff;
    color: white;
  }
}
